<!doctype html>
<html>
<head>
    <title>Main</title>
    <link rel="stylesheet" href="http://js.arcgis.com/3.14/esri/css/esri.css">
    <style>
      html, body, #map {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
      }
      .esriScalebar{
        padding: 20px 20px; 
      } 
      #map{ 
        padding:0;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        var dojoConfig = { 
            parseOnLoad: true,
            paths: {
                extras: "/lib/extras"
            }
        };
    </script>
    <script src="//js.arcgis.com/3.14/"></script>
    <script src="/lib/main.js"></script>
</head>
<body>
    <div id="map"></div>
</body>
</html>